body{
    background-color: #f9bc85;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
#pub_container{
    margin-top: 10px;
}
#pageHead{
    color: rgb(255, 255, 255) !important;
}
.pub_head{
    color: aliceblue;
}
#pic{

    height: 400px;
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    
    background-color: rgba(251, 199, 193, 0.5);
    align-items: center;
    align-content: center;
}
#desc{
    height: 400px;
    width: 500px;
    text-align: center;
    align-items: center;
    align-content: center;
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 650;
    font-style: italic;
    font-size: 18px;
    line-height: 2;

}
#thePath{
    text-align: center;
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 2.5;
    margin-top: 50px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    color: rgb(0, 6, 11);
    text-align: justify;

}

.pub-h1{
    text-align: justify;  
    line-height: 1.5; 
    word-spacing: 2px;
    text-align: center;
}
/* Base styles for larger screens (e.g., desktop) */
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  /* Mobile styles */
  @media only screen and (max-width: 768px) {
    body {
      font-size: 14px;  /* smaller font size for mobile */
      margin: 0;
      padding: 0;
    }
  
    /* You can adjust any other element here for mobile devices */
    .container {
      padding: 10px;
    }
  
    .header {
      font-size: 18px; /* adjust header size */
    }
  }